@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Mukta:wght@200&family=Roboto+Condensed&family=Ubuntu&family=Varela+Round&display=swap');
body {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
  padding: 0;
  }
  
  header {
  background-color: #0df037;
  color: black;
  font-size: 24px;
  padding: 30px;
  text-align: center;
  }
  
  section {
  margin: 30px;
  }

  
  form {
  background-color: #0fec97;
  padding: 20px;
  border-radius: 5px;
  }
  
  .form-group {
  margin-bottom: 10px;
  }
  
  label {
  display: block;
  margin-bottom: 5px;
  }
  
  textarea,
  input[type="file"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  }
  
  .form-submit{
      /* text-align: center; */
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }
  
  button[type="submit"] {
  background-color: #e35d0f;
  color:white;
  font-size: 18px;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  
  }
  
  #submitted-content {
  display: none;
  margin-top: 40px;
  }
  
  h2 {
  color: #333;
  }
  
  #content-display {
  margin-bottom: 10px;
  white-space: pre-line;
  }
  
  #image-display,
  #video-display {
  display: block;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  }
  
  #title-display,
  #content-display {
    margin-bottom: 10px;
    white-space: pre-line;
  }
  
  #image-display {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  #video-display {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
